<!DOCTYPE html>
<html>
<head>
    <title>组件测试</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	
	<!-- 引用 Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- 引用 jQuery -->
	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

	<!-- 引用 Bootstrap JS -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

	<!-- 引用 ThreeJS JS -->
	<script src="{% static 'js/three.min.js' %}"></script>
	
</head>
<body>
    <nav>
        <ul>
           
        </ul>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        &copy; 组件测试 2023
    </footer>
</body>
</html>
